{% load staticfiles %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">

  {% csrf_token %}

  <title>
      {% block title %}SimpleSky{% endblock title %}
  </title>

  <meta name="description" content="The no frills mobile weather web app">

  <link rel="stylesheet" href="{% static "style.css" %}" />
  {% block header %}{% endblock header %}
</head>

<body>
    {% block content %}{% endblock content %}
    <div id="footer">
        <p>
            Simplesky: the no-frills weather web app. A project by <em>fterh</em>.
        </p>
        <p>
            <a href="https://github.com/fterh/simplesky">GitHub</a> |
            Data sourced from <a href="https://data.gov.sg">Data.gov.sg</a>
            under the <a href="https://data.gov.sg/open-data-licence">Singapore
            Open Data License</a>.

        </p>
            <!-- Acknowledgements, license, open source, attribution to data.gov.sg -->
        {% block footer %}{% endblock footer %}
    </div>
</body>
</html>
