{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Home - {{ block.super }}
{% endblock title %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "location.js" %}"></script>

    <h1>SimpleSky</h1>

    <p>
        Latitude: <span id="latitude">?</span>
        Longitude: <span id="longitude">?</span>
    </p>

    <h2 class="inline">2-hour Nowcast:</h2>
    <span id="nowcast" class="data-output"></span>
    <p>
        Your location:
        <span id="location" class="strong">?</span>
    </p>
    <p>
        Wrong? Choose your location:
        <select id="select_2h">
            {% autoescape off %}{{ loc_list }}{% endautoescape %}
        </select>
    </p>
    <p>
        Last updated: <time id="lastupdated_2h"></time>
    </p>
    <p>
        {{ 2h_output }}
    </p>

{% endblock content %}

{% block footer %}
<!-- Acknowledgements, license, open source, attribution to data.gov.sg -->
{% endblock footer %}
