{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Home - {{ block.super }}
{% endblock title %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "location.js" %}"></script>

    <!-- temperature -->
    <p>
        <span id="temp" class="data-output"></span> @
        <span id="rh" class="data-output"></span> relative humidity
    </p>

    <!-- nowcast -->
    <p>
        <h2 class="inline">2-hour nowcast:</h2>
        <span id="nowcast" class="data-output"></span>
    </p>

    <!-- air quality -->
    <p>
        <h2 class="inline">Air quality:</h2>
        <table id="psi">
            <th colspan="5">PSI</th>
            <tr>
                <td>North</td>
                <td>South</td>
                <td>East</td>
                <td>West</td>
                <td>Central</td>
            </tr>
            <tr>
                <td>{{ psi_north }}</td>
                <td>{{ psi_south }}</td>
                <td>{{ psi_east }}</td>
                <td>{{ psi_west }}</td>
                <td>{{ psi_central }}</td>
            </tr>
        </table>
    </p>

    <p>
        <table id="pm25">
            <th colspan="5">PM2.5 (1-hourly)</th>
            <tr>
                <td>North</td>
                <td>South</td>
                <td>East</td>
                <td>West</td>
                <td>Central</td>
            </tr>
            <tr>
                <td>{{ pm25_north }}</td>
                <td>{{ pm25_south }}</td>
                <td>{{ pm25_east }}</td>
                <td>{{ pm25_west }}</td>
                <td>{{ pm25_central }}</td>
            </tr>
        </table>
        <span id="pm25" class="data-output"></span>
    </p>

    <!-- location -->
    <p>
        Your location:
        <span id="location" class="strong">?</span>
    </p>
    <p style="display: none;">
        Lat: <span id="latitude">?</span>
        Long: <span id="longitude">?</span>
    </p>
    <p>
        Not quite it?
        <select id="select_2h">
            {% autoescape off %}{{ loc_list }}{% endautoescape %}
        </select>
    </p>

{% endblock content %}

{% block footer %}
{% endblock footer %}
